// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.d-flex a {
    margin-right: 20px;
}

.navbar-expand-lg {
　display: flex;
  justify-content: center;
}